body{
    margin: 0;
    padding: 0;
}

.message{
    text-align: center;
    font-size: 5rem;
    margin: 50vh 0 0vh 0;
    text-decoration: underline;
    color: cornflowerblue;
}

.info{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    opacity: 0.75;
}


/*Responsive Part*/

@media all and (max-width: 855px) {
    html{
        font-size: 80%;
    }
    
}

@media all and (max-width: 670px) {
    html{
        font-size: 50%;
    }
    
}

@media all and (max-width: 435px) {
    html{
        font-size: 40%;
    }
    
}

@media all and (max-width: 340px) {
    html{
        font-size: 30%;
    }
    
}

@media all and (max-width: 262px) {
    html{
        font-size: 20%;
    }
}